In [1]:
#Pandas-challenge

#Before You Begin

#Create a new repository for this project called pandas-challenge. Do not add this homework to an existing repository.

#Clone the new repository to your computer.

#Inside your local git repository, create a directory for the Pandas Challenge you choose. Use folder names corresponding to the challenges: HeroesOfPymoli or  PyCitySchools.

#Add your Jupyter notebook to this folder. This will be the main script to run for analysis.

#Push the above changes to GitHub or GitLab.

import pandas as pd

# The path to our CSV file

file = "resources/Pymoli_purchase_data.csv"

df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:


#Player Count
Player_Count = df["SN"].count() 
print(f"Player Count = {Player_Count}")

Player Count = 780

In [3]:
#Purchasing Analysis (Total)
#print Purchasing Analysis
#Number of Unique Items
#NumberofUniqueItems = df["Item_ID"]
NumberofUniqueItems = len(df["Item ID"].unique().tolist())
print(f"Number of Unique Items = {NumberofUniqueItems}")

Number of Unique Items = 179

In [4]:
#Average Purchase Price
AveragePurchasePrice = df['Price'].mean()
print (f"Average Purchase Price) = {AveragePurchasePrice}\n"),2

#Total Number of Purchases
TotalNumberofPurchases = df['Purchase ID'].count()
print (f"Total Number of Purchases) = {TotalNumberofPurchases}\n")

#Total Revenue
TotalRevenue = df['Price'].sum()

print (f"Total Revenue) = {TotalRevenue}")

Average Purchase Price) = 3.050987179487176

Total Number of Purchases) = 780

Total Revenue) = 2379.77

In [5]:
#Number of Unique Items      Average Price      Number of Purchases      Total Revenue

PurchasingAnalysis = pd.DataFrame({
    "Number of Unique Items": [NumberofUniqueItems],
    "Average Price": [AveragePurchasePrice],
    "Number of Purchases": [TotalNumberofPurchases],
    "Total Revenue": [TotalRevenue]
})
PurchasingAnalysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [6]:
GenderCounts = df["Gender"].value_counts()
Genderdf = pd.DataFrame(GenderCounts)
Genderdf["Percentage of Players"] = round(Genderdf["Gender"]/Player_Count,2)
Genderdf

                       Gender  Percentage of Players
Male                      652                   0.84
Female                    113                   0.14
Other / Non-Disclosed      15                   0.02

In [7]:
AveragePricebyGender = df.groupby(["Gender"]).mean()["Price"]
AveragePricebyGender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [18]:
TotalRevenuebyGender = df.groupby(["Gender"]).sum()["Price"]

In [20]:
#Purchasing Analysis (Gender)

#The below each broken by gender


# PurchaseCount = 
# AveragePurchasePrice = 
# #Total Purchase Value
# Average Purchase Total per Person by Gender


purch_gender_df = Genderdf.drop("Percentage of Players",axis=1)
purch_gender_df["Average Purchase Price"] = AveragePricebyGender.values
purch_gender_df["Total Purchase Value"] = TotalRevenuebyGender.values
purch_gender_df["Average Purch Total"] = purch_gender_df["Total Purchase Value"] / purch_gender_df["Gender"]

purch_gender_df

,Gender,Average Purchase Price,Total Purchase Value,Average Purch Total
Male,652,3.203009,361.94,0.555123
Female,113,3.017853,1967.64,17.412743
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [59]:
#Age Demographics
age_df = df
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
Age_bins = [0, 9.9, 14.9, 19.9, 24.9, 9999]
Bin_labels = ["<10", "10-14", "15-19", "20-24", "25+"]
age_df["Age_Bin"] = pd.cut(x=age_df["Age"], bins = Age_bins, labels = Bin_labels)
age_df
age_df["purchase_count"]=1
PurchaseCount = age_df.groupby(["Age_Bin"]).sum()["purchase_count"]
print(PurchaseCount)
#Purchase Count
 
#Average Purchase Price
AveragePurchasePrice= age_df.groupby(["Age_Bin"]).mean()["Price"]
print(AveragePurchasePrice)

#Total Purchase Value
TotalPurchaseValue = age_df.groupby(["Age_Bin"]).sum()["Price"]
print(TotalPurchaseValue)

#Average Purchase Total per Person by Age Group
AveragePurchPPbyAge_df = pd.DataFrame({
    "purchase_count":PurchaseCount
    
})

AveragePurchPPbyAge_df["Average Purchase Price"] =  AveragePurchasePrice.values
AveragePurchPPbyAge_df["Total Purchase Value"] =  TotalPurchaseValue.values
AveragePurchPPbyAge_df

#Number_purchases_per_bin =

Age_Bin
<10       23
10-14     28
15-19    136
20-24    365
25+      228
Name: purchase_count, dtype: int64
Age_Bin
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25+      3.039079
Name: Price, dtype: float64
Age_Bin
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25+       692.91
Name: Price, dtype: float64

         purchase_count  Average Purchase Price  Total Purchase Value
Age_Bin
<10                  23                3.353478                 77.13
10-14                28                2.956429                 82.78
15-19               136                3.035956                412.89
20-24               365                3.052219               1114.06
25+                 228                3.039079                692.91

In [77]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#Top5Spenders = ['Price']

#SN

#Purchase Count
#Average Purchase Price
#Total Purchase Value

#Most Popular Items

PurchaseCount = df.groupby("SN").sum()["purchase_count"] 

AveragePurchasePrice = df.groupby("SN").sum()["Price"].values / PurchaseCount.values

PlayerSpending_df = pd.DataFrame(PurchaseCount)
PlayerSpending_df["Average Purchase Price"] = AveragePurchasePrice
PlayerSpending_df ["Purchase Total"] =df.groupby("SN").sum()["Price"].values 

PlayerSpending_df.sort_values("Purchase Total", ascending = False).head(5)

             purchase_count  Average Purchase Price  Purchase Total
SN
Lisosia93                 5                3.792000           18.96
Idastidru52               4                3.862500           15.45
Chamjask73                3                4.610000           13.83
Iral74                    4                3.405000           13.62
Iskadarya95               3                4.366667           13.10

In [86]:
#Identify the 5 most popular items by purchase count, then list (in a table):


#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

#Most Profitable Items
PurchaseCount = df.groupby("Item ID").sum()["purchase_count"] 
df

TotalNumberofPurchases = df['Purchase ID'].count()

#df.sort_values("Purchase Count", ascending = False).head(5)

#PlayerSpending_df.sort_values("Purchase Count", ascending = False).head(5)

In [11]:
#As final considerations:

#You must use the Pandas Library and the Jupyter Notebook.
#You must submit a link to your Jupyter Notebook with the viewable Data Frames.
#You must include a written description of three observable trends based on the data.
#See Example Solution for a reference on expected format.