In [138]:
#Pandas-challenge

#Before You Begin

#Create a new repository for this project called pandas-challenge. Do not add this homework to an existing repository.

#Clone the new repository to your computer.

#Inside your local git repository, create a directory for the Pandas Challenge you choose. Use folder names corresponding to the challenges: HeroesOfPymoli or  PyCitySchools.

#Add your Jupyter notebook to this folder. This will be the main script to run for analysis.

#Push the above changes to GitHub or GitLab.

import pandas as pd

# The path to our CSV file

file = "resources/Pymoli_purchase_data.csv"

df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [139]:


#Player Count
Player_Count = df["SN"].count() 
print(f"Player Count = {Player_Count}")

Player Count = 780

In [140]:
#Purchasing Analysis (Total)
#print Purchasing Analysis
#Number of Unique Items
#NumberofUniqueItems = df["Item_ID"]
NumberofUniqueItems = len(df["Item ID"].unique().tolist())
print(f"Number of Unique Items = {NumberofUniqueItems}")

Number of Unique Items = 179

In [141]:
#Average Purchase Price
AveragePurchasePrice = df['Price'].mean()
print (f"Average Purchase Price) = {AveragePurchasePrice}\n"),2

#Total Number of Purchases
TotalNumberofPurchases = df['Purchase ID'].count()
print (f"Total Number of Purchases) = {TotalNumberofPurchases}\n")

#Total Revenue
TotalRevenue = df['Price'].sum()

print (f"Total Revenue) = {TotalRevenue}")

Average Purchase Price) = 3.050987179487176

Total Number of Purchases) = 780

Total Revenue) = 2379.77

In [142]:
#Number of Unique Items      Average Price      Number of Purchases      Total Revenue

PurchasingAnalysis = pd.DataFrame({
    "Number of Unique Items": [NumberofUniqueItems],
    "Average Price": [AveragePurchasePrice],
    "Number of Purchases": [TotalNumberofPurchases],
    "Total Revenue": [TotalRevenue]
})
PurchasingAnalysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [143]:
GenderCounts = df["Gender"].value_counts()
Genderdf = pd.DataFrame(GenderCounts)
Genderdf["Percentage of Players"] = round(Genderdf["Gender"]/Player_Count,2)
Genderdf

                       Gender  Percentage of Players
Male                      652                   0.84
Female                    113                   0.14
Other / Non-Disclosed      15                   0.02

In [144]:
AveragePricebyGender = df.groupby(["Gender"]).mean()["Price"]
AveragePricebyGender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [152]:
#Purchasing Analysis (Gender)

#The below each broken by gender


# PurchaseCount = 
# AveragePurchasePrice = 
# #Total Purchase Value
# #Average Purchase Total per Person by Gender

GenderCounts = df["Gender"].value_counts()
Genderdf = pd.DataFrame(GenderCounts)
Genderdf["Total Revenue"] = round(Genderdf["Gender"]/TotalRevenue,2)
Genderdf

                       Gender  Total Revenue
Male                      652           0.27
Female                    113           0.05
Other / Non-Disclosed      15           0.01

In [ ]:
#Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
Top5Spenders = ['Price']

#SN

#Purchase Count
#Average Purchase Price
#Total Purchase Value

#Most Popular Items

In [ ]:
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

#Most Profitable Items

In [ ]:
#As final considerations:

#You must use the Pandas Library and the Jupyter Notebook.
#You must submit a link to your Jupyter Notebook with the viewable Data Frames.
#You must include a written description of three observable trends based on the data.
#See Example Solution for a reference on expected format.